/* your code here */
:root{
	background-color: green;
}
.photo-container{
	background-color: lightgreen;
}
.photo-album>ul{
	display: flex;
	list-style-type: none;
	background-color: white;
}
.photo-album>ul>li{
	border: 1px solid gray;
}
.variant>ul{
	display: flex;
	list-style-type: none;
}
.variant>ul>li{
	border: 1px solid gray;
}
.photo-main{
	
}
.product{
	height: 100vh;
	width: 60vw;
	display: flex;
	justify-content: center;
	background-color: white;
	margin: 100px;
}
.apple-image{
	/* height: 50%; */
	position: relative;
	left: -60px
}